
<div class="row d-flex justify-content-center pt-2 mt-3">
    <div class="col-lg-8">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Create Expense</h5>
                
                <form name="myForm" id="frmExpense">
                    <div asp-validation-summary="ModelOnly" calss="text-danger"></div>
                    <div class="row mb-4 me-2">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Expenses Date</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ExpenseDate" name="date" required>
                            <span validation-for="ExpenseDate" id="ExpenseDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-4 me-2">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Amount</label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="ExpenseAmount" onkeypress="return Isnumeric(event)" required>
                        </div>
                    </div>

                    <div class="row mb-4 me-2">
                        <label for="inputPassword3"  class="col-sm-3 col-form-label">Expense Category</label>
                        <div class="col-sm-9">
                            <select id="expenseCategory" class="form-control" required>
                            
                            </select>
@*                            <span validation-for="expenseCategory" id="ExpenseDate" class="text-danger"></span>*@
                        </div>
                    </div>
                    </br>
                    <div class="text-center">
                        <button type="button" id="SubmitExpenses" class="btn btn-primary">Submit</button>
                        <a href="~/Expenses/Index" class="btn btn-secondary">Back</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
@*<script src="~/js/Report.js"></script>*@
<script src="~/js/expense.js"></script>

<script>
   function Isnumeric(evt) {
   var ASCIICode = (evt.which) ? evt.which : evt.keyCode
   if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
   return false;
   return true;
   }
</script>