
<div class="row d-flex justify-content-center  pt-2 mt-3">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Expense Details</h5>
                <ul class="list-group" id="ExepenseDetail">
                    <li class="list-group-item" id="expenseAmount"></li>
                    <li class="list-group-item" id="expenseDate"></li>
                    <li class="list-group-item" id="Category" ></li>
                
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-center">
        <a href="~/Expenses/Index" class="btn btn-secondary">Finish</a>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
<script src="~/js/expense.js"></script>